.experience-container {
    display: grid;
    grid-template-columns: auto;
}
.experience-container-title {
    font-size: 48px;
    border-bottom:  beige;
}

.experience-container-item {
    margin-top: 2rem;
}