.experience {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    grid-gap: 50px;
    border: 1px outset black;
    padding: 1rem;
    box-shadow: 0 0 0 2px gray;
    transition-duration: 0.5s;
}

.experience:hover {
    cursor: pointer;
    box-shadow: 0 0 0 5px gray;
    background-color: #3d4350;
}

.experience:hover + .experience-job-description {
    grid-template-columns: auto auto 5rem;
    display: block;
    cursor: pointer;
}


.experience-image {
    height: 50px;
    width: auto;
    grid-column: 1 /2;
}

.experience-text {
    grid-column: 2/2;
}

.experience-company-name {
    font-size: larger;
    text-align: center;
    grid-row: 1;
    border-bottom: 2px solid black;
}

.experience-job-title {
    font-size: 24px;
    font-style: oblique;
}

.experience-job-description {
    justify-content: center;
    font-size: medium;
    text-align:center;
    grid-row: 2;
    width: 10rem
}

.experience-job-date-range {
    padding-left: 1rem;
}
