.experience {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    grid-gap: 50px;
    border: 1px outset black;
    padding: 1rem;
    box-shadow: 0 0 0 2px gray;
    transition-duration: 0.5s;
    height: 200px;
}

.experience:hover {
    cursor: pointer;
    box-shadow: 0 0 0 5px gray;
    background-color: #3d4350;
}


.experience-image {
    height: 50px;
    width: auto;
    grid-column: 1 /2;
}

.experience-text {
    grid-column: 2/2;
}

.experience-company-name {
    font-size: larger;
    text-align: center;
    grid-row: 1;
    border-bottom: 2px solid black;
}

.experience-job-title {
    font-size: 24px;
    font-style: oblique;
}

.experience-job-description {
    margin-top: 1rem;
    justify-content: left;
    font-size: medium;
    text-align:center;
    grid-row: 2;
}

.experience-job-date-range {
    padding-left: 1rem;
}

@media screen and (max-width: 600px) {

    .experience {
        width: 100%;
        height: auto;
    }

    .experience-image {
        width: 120px;
    }

    .experience-job-date-range {
        display: none;
    }

}