.portfolio-header {
	padding: 1rem;
	height: 400px;
	justify-items: center;
	box-shadow: 2px black;
	align-items: center;
	justify-content: center;
}

.portfolio-header-title {
	margin-top: 128px;
	font-size: 72px;
}

.portfolio-header-image {
	
	height: 72px;
	width: 72px;
}


.portfolio-header-description {
	font-size: 18px;

}
